*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
#apple{
    color: white;
}
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
    background: rgb(70, 70, 70);
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  .car{
    color: red;
  }
  label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    color: red;
    transition: .5s;
  }
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
#check{
    cursor: pointer;
    display: none;
  }
  .close-btn{
    color: white;
  }
.close-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.545);
}


@media (max-width: 850px){
    .checkbtn{
      display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #2c3e50;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #d90000;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ .close-menu{
        display: none;
      }
    #check:checked ~ .close-menu{
        display: block;
      }
  }
  
section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

  #banner{

    
    /* background-image: url(https://root-nation.com/wp-content/uploads/2020/07/dark-web.png); */
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
#banner{
    height: 695px;


    background-size: cover;
    animation-name: slide;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
 }
 .rasm1-button{
    position: relative;
    top: 310px;
    padding: 20px 40px;
}
.btn1{
    border: 1px solid white;
    padding: 0px 10px;
    padding-bottom: 2px;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
    margin-left: -50px;
}
.btn1:hover{
    background-color: transparent;
}
.btn2{
    cursor: pointer;
    border: 1px solid white;
    color: white;
    font-size: 30px;
    padding:0px 10px;
    padding-bottom: 3px;
    background-color: black;
    margin-left: 1100px;
    border-radius: 6px;
}
.btn2:hover{
    background-color: transparent;
}

 @keyframes slide{
    20%{
        background-image: url(./image/m1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%{
        background-image: url(./image/ap.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
        background-image: url(./image/manzara3.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
 }

 @media(max-width:500px){
    .btn2{
        cursor: pointer;
        border: 1px solid white;
        color: white;
        font-size: 30px;
        padding:0px 10px;
        padding-bottom: 3px;
        background-color: black;
        margin-left: 330px;
        border-radius: 6px;
    }
 }
 @media(max-width:600px){
    .btn2{
        cursor: pointer;
        border: 1px solid white;
        color: white;
        font-size: 30px;
        padding:0px 10px;
        padding-bottom: 3px;
        background-color: black;
        margin-left: 330px;
        border-radius: 6px;
    }
 }
 @media(max-width:700px){
    .btn2{
        cursor: pointer;
        border: 1px solid white;
        color: white;
        font-size: 30px;
        padding:0px 10px;
        padding-bottom: 3px;
        background-color: black;
        margin-left: 330px;
        border-radius: 6px;
    }
 } 
 @media(max-width:800px){
    .btn2{
        cursor: pointer;
        border: 1px solid white;
        color: white;
        font-size: 30px;
        padding:0px 10px;
        padding-bottom: 3px;
        background-color: black;
        margin-left: 330px;
        border-radius: 6px;
    }
 }
 @media(max-width:900px){
    .btn2{
        cursor: pointer;
        border: 1px solid white;
        color: white;
        font-size: 30px;
        padding:0px 10px;
        padding-bottom: 3px;
        background-color: black;
        border-radius: 6px;
    }
 }



 .orqa-fonga{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 630px;
 }
 .orqa-text{
    font-size: 80px;
    color: gray;
    text-align: center;
    padding-top: 100px;
 }
.orqa-text2{
    font-size: 70px;
     color: white;
     text-align: center;
     padding-top: -40px;
}
.orqa-text3{
    text-align: center;
    width: 69%;
    margin: auto;
    color: rgb(212, 212, 212);
}
.showcase-icons{
    display: flex;
    justify-content: center;
}
.showcase-icon{
    padding: 30px;
    margin-left: -50px;
    border-radius: 5px;
}
.more{
    border: 1px solid red;
    background-color: red;
    padding: 22px 40px;
    margin-left: 50px;
    font-size: 17px;
    color: white;
    cursor: pointer;

}
.more:hover{
    background-color: transparent;
    transition: .6s;
    box-shadow: 2px 2px 17px rgba(10, 10, 10, 0.676);
}



.left{
    width: 50%;
    height: 90vh;
    float: left;
}
.right{
    background-color: rgb(238, 54, 54);
    width: 50%;
    height: 90vh;
    float: right;
}
.read2{
    border: 1px solid red;
    background-color: white;
    padding: 22px 40px;
    margin-left: 50px;
    font-size: 17px;
    color: black;
    cursor: pointer;

}

.read2:hover{
    background-color: rgba(187, 187, 187, 0.812);
    transition: .6s;
    box-shadow: 2px 2px 17px rgba(10, 10, 10, 0.676);
}




.left{
    width: 50%;
    height: 90vh;
    float: left;
    background-color: rgb(66, 66, 66);
}
.right{
    width: 50%;
    height: 90vh;
    float: right;
}
.read3{
    border: 1px solid gray;
    background-color: gray;
    padding: 22px 40px;
    margin-left: 50px;
    font-size: 17px;
    color: white;
    cursor: pointer;

}

.read3:hover{
    background-color: rgb(244, 58, 58);
    transition: .6s;
    box-shadow: 2px 2px 17px rgba(10, 10, 10, 0.676);
}



.orqa-fonga{

}
.orqa-text-our{
    margin-top: 100px;
    font-size: 70px;
    color: black;
    text-align: center;
 }

 








 .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:after{
    content: '\🙆‍♂️';
    font-size: 20px;
}
.dropbtn:hover:after{
    content: '\🤷‍♂️';
 
}
.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

}




.href{
    position: fixed;
    background-color: #1543f4;
    box-shadow: 3px 10px 30px #1543f4;
    color: black;
    margin-top: -50px;
    margin-left: 1005px;
    font-size: 20px;
    position: sticky;
    bottom: 50px;
    border-radius: 7px;

}
.href:hover{
    margin-bottom: 10px;
    transition: .6s;
    background-color: #2b52ee;
    box-shadow: 3px 6px 60px #254ff8;
    
}





.rasm{
    margin-top: 1500px;
    background-image: url(./image/pa.jpg);
    width: 100%;
    height: 190vh;
    background-size: cover;
}
/* .box{
    background-color: red;
    width: 40%;
    height: 30vh;
}
.rel{
    width: 100%;
    position: relative;
} */

/* .box-all{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    border-radius: 50px;
}

.box{
    margin: 30px 1px;
    background-color: rgba(218, 165, 32, 0.706);
    width: 200px;
    height: 400px;
    border-radius: 9px;
    overflow: hidden;
}
.card{
    display: flex;
}
.rel{
    width: 100%;
    position: relative;

}
.r44{
    font-size: 18px;
    margin-left: 5%;
    padding-top: 20px;
}
.r45{
    background-color:  rgba(214, 176, 79, 0.903);
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
    margin-left: 20px;
    position: absolute;
    margin-top: -220px;
}
.p{
    margin-left: 5%;
    margin-top: 15px;
    font-size: 19px;
    color: white;
    padding-bottom: 20px;
} */



.shopk {
    background-color: khaki;
    width: 45%;
    height: 253px;
    display: inline-block;
    margin: 30px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 10px;

    cursor: pointer;
}
.shopk:hover{
    background-color: gray;
    transition: .6s;
}
.rasmm{
    width: 255px;  
    height: 253px;
    margin-left: -29px;

}
.shopal{

    width: 50%;
    display: inline-block; 
   

}
.shopk3{
    padding-bottom: 35px;
}
.shopk4{
    position: relative;
    top: -20px;
    font-family: sans-serif;
    letter-spacing: 2px;
}





.wht {
    color: red;
}

.text-borderl {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
}
.rasmlar-borderli {
    text-align: center;
    border-radius: 150px;
}
.peter {
    text-align: center;
    width: 60%;
    margin: auto;
}
.smith {
    margin-top: 20px;
    margin-bottom: 20px;
}


.foter {
    margin-top: 40px;
    background-image: url(./image/footer-parallax-1920x1000.jpeg);
    width: 100%;
    height: 120vh;
    padding-top: 200px;
    text-align: center;
    color: #fff;
    font-size: 40px;
}
.adrees {
    font-size: 16px;
    margin-top: 20px;
}
.tel:hover {
    color: red;
    transition: .6s;
    cursor: pointer;
}
.futer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.emo {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    cursor: pointer;
}
.emojii:hover {
    color: red;
    transition: .6s;
}
.foter-text{
    margin-top: 50px;
    font-size: 15px;
}
@media(max-width:650px){
    .orqa-text{
        font-size: 40px;
        color: gray;
        text-align: center;
        padding-top: 100px;
     }
     .orqa-text2{
        font-size: 40px;
         color: white;
         text-align: center;
         padding-top: -40px;
    }
    .orqa-text3{
        text-align: center;
        width: 90%;
        margin: auto;
        color: rgb(212, 212, 212);
    }
    .orqa-fonga{
        background-color: rgb(66, 66, 66);
        width: 100%;
        height: 430px;
     }
     .left{
        width: 100%;
        height: 100vh;
        float: left;
        background-color: rgb(66, 66, 66);
    }
    .right{
        background-color: rgb(238, 54, 54);
        width: 100%;
        height: 90vh;
        float: right;
    }
    .right{
        width: 100%;
        height: 90vh;
        float: right;
    }
    .left{
        width: 100%;
        height: 100vh;
        float: left;
        background-color: rgb(66, 66, 66);
    }
    .foter-text{
        margin-top: 50px;
        font-size: 13px;
    }
    .emo {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;
        cursor: pointer;
        font-size: 33px;
    }
    .futer {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
        font-size: 25px;
    }
    .foter{
        font-size: 25px;
        height: 139vh;
    }
}

@media(max-width:500px){
    .orqa-text{
        font-size: 30px;
        color: gray;
        text-align: center;
        padding-top: 100px;
     }
     .orqa-text2{
        font-size: 30px;
         color: white;
         text-align: center;
         padding-top: -40px;
    }
    .orqa-text3{
        text-align: center;
        width: 90%;
        margin: auto;
        color: rgb(212, 212, 212);
    }
    .orqa-fonga{
        background-color: rgb(66, 66, 66);
        width: 100%;
        height: 430px;
     }
     .left{
        width: 100%;
        height: 50vh;
        float: left;
        background-color: rgb(66, 66, 66);
    }
    .right{
        background-color: rgb(238, 54, 54);
        width: 100%;
        height: 70vh;
        float: right;
    }
    .right{
        width: 100%;
        height: 90vh;
        float: right;
    }
    .left{
        width: 100%;
        height: 80vh;
        float: left;
        background-color: rgb(66, 66, 66);
    }
    .foter-text{
        margin-top: 50px;
        font-size: 13px;
    }
    .emo {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;
        cursor: pointer;
        font-size: 33px;
    }
    .futer {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
        font-size: 25px;
    }
    .foter{
        font-size: 25px;
        height: 130vh;
    }
}
